.main__bar{
    min-height: 10rem;
  
    height: 10vh;
    background-color: rgb(196, 75, 19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color:#fff;
    font-weight: 800;
    
    opacity: 1;
    
    
    
    


}